# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python


# ================================
# Django
# ================================

# ================================
# Environment variables / secrets
# ================================
.env
.env.*
*.env

# ================================
# Test / coverage
# ================================
.coverage
coverage.xml
htmlcov/
.tox/
.nox/

# ================================
# IDEs / Editors
# ================================
.vscode/
.idea/
*.swp
*.swo
*.swn


# ================================
# Build / packaging
# ================================
# build/
# dist/
# *.egg-info/
# .eggs/

# ================================
# Docker
# ================================
# docker-compose.override.yml

# ================================
# Logs & runtime
# ================================
# *.pid
# *.out
# *.err
